<!doctype html>
<html>
  <head>
    <title>CEP Lookup</title>
  </head>
  <body>
    <form method="GET" action=<% () => `http://cep.la/${event.target.cep}` %>>
      <input type="text" name="cep" />
      <button type="submit">Procurar</button>
    </form>
    <div>
      <% if(address) { %>
        <%= address.message %>
      <% } %>
    </div>
  </body>
</html>
