html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

header h1 {
    font-weight: bold;
}

aside.aside-one, aside.aside-two{
    margin: 30px 0;
}

aside li {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

article h1 {
    word-wrap: break-word;
}

.main-content p {
    text-align: justify;
    text-indent: 15px;
}